{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link" href={{ url('bookstore')}}><i class="fas fa-home"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1>Welcome !</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h1>Categories</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    {% for category in results %}
                        <a class="btn btn-primary" href={{ url('category', {id: category.id}) }}>{{ category.name }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
